$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.index-container {
    background-color: grey;
    width: 100%;
    height: 100%;
}

.main-container {
    // center div
    margin: 0 auto;
    background-color: lightgrey;
    height: 400px;
    width: 50%;
}

.data-entry {
    margin-top: 100px;
    margin-left: 0 auto;
    width: 100%;
}

.data-text {
    text-align: center;
    margin-top: 30px;
}
